<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>Как-то так</title> 
	
	<!--[if lt IE 8]>
		<script defer type="text/javascript" src="/pub/ie/IE8.js"></script>
	<![endif]--> 
	<!--[if lt IE 7]>
		<script type="text/javascript" src="/pub/ie/iepngfix_tilebg.js"></script>
		<link rel="stylesheet" href="/pub/ie/ie6.css" type="text/css" media="screen" />
	<![endif]--> 

	<!--<link rel="stylesheet" href="/pub/css/common.css" type="text/css" media="screen" />-->
	<link rel="stylesheet" href="/pub/css/app.css" type="text/css" media="screen" /> 
	<link rel="stylesheet" href="/pub/css/main-flist-table.css" type="text/css" media="screen" /> 
	<!--<link rel="stylesheet" href="/pub/css/slimbox.css" type="text/css" media="screen" />-->
	
	<script type="text/javascript" src="/pub/js/lib/swfobject.js"></script> 
	<script type="text/javascript" src="/pub/js/lib/JsHttpRequest.js"></script> 
	<script type="text/javascript" src="/pub/js/lib/mootools.js"></script> 
	<script type="text/javascript" src="/pub/js/app/main.js" defer="defer"></script> 
	<!--<script type="text/javascript" src="/js/mootools-more.js"></script>-->
	<!--<script type="text/javascript" src="/js/stuff.js" defer="defer"></script>-->
	<!--<script type="text/javascript" src="/js/slimbox.js"></script>-->
 
</head> 
<body>
	<div id="header">whateveritis</div>
	<ul id="mmenu">
		<li>Файл</li>
		<li>Правка</li>
		<li>Вид</li>
	</ul>
	<div id="app">
		<div id="mainscreen">
			<table id="mlist" class="main-flist-table">
				<thead>
					<tr>
						<td class="t-checkbox">[cb]</td>
						<td class="t-type">icon</td>
						<td class="t-name">fname</td>
						<td class="t-onwer">owner</td>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
		<div id="sidebar">
			<div class="panel" id="tags"></div>
			<div class="panel" id="fileopts">
				<div class="option name"><h3 class="v"></h3></div>
				<div class="option owner">
					<span class="n">Владелец: </span>
					<span class="v"></span>
				</div>
				<div class="option description">
					<span class="n">Описание: </span>
					<span class="v"></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>